html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --greentext-yellow: rgb(255, 255, 239);
  --greentext-blue: rgb(216, 216, 238);
  --greentext-green: rgb(132, 159, 81);
  --greentext-dark-green: rgb(56, 119, 75);
  --greentext-gray: rgb(119, 121, 134);

  --reddit-gray: #1A1A1B;
  --reddit-time-gray: #4b4b4b;
}

html,body {
  height:100%;
}

::-webkit-scrollbar{
  opacity: 0;
}

/* GREENTEXT */

div.greentext {
  background: var(--greentext-blue);
  border: 1px solid grey;
  padding: 8px;
}

div.greentext div.img {
  float: left;
  width: 140px;
  margin: 0px 12px;
}
div.greentext img {
  max-width: 100%;
}
div.greentext div.img > .caption {
  color: var(--greentext-gray);
  font-size: 0.8rem;

  /* Center the text */
  display: inline-block;
  text-align: center;
  width: 100%;
}

div.greentext span.quote {
  color: var(--greentext-green);
}

div.greentext header {
  background: var(--greentext-darker-blue);
  border-bottom: 1px solid var(--greentext-darkest-blue);
}
div.greentext span.author {
  font-weight: 600;
  color: var(--greentext-dark-green);
}

/* REDDIT */
div.reddit {
  background: var(--reddit-gray);
  color: white;
  display: flex;
  flex-direction: row;
  padding: 5px;
  max-width: 90%;
  border: 1px solid grey;
}
div.reddit div.arrow-box{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  margin-right: 5px;
  width: 40px;
}
div.reddit div.arrow-box img{
  width:30px;
  height:30px;
  margin-bottom: 5px;

  -webkit-filter: invert(100%);
  filter: invert(100%);
}
div.reddit .inverted{
  transform: rotate(180deg)
}
div.reddit .arrow-box p {
  justify-content: center;
}
div.reddit img.profile{
  width:30px;
  height:30px;
  margin-right:5px;
}
div.reddit div.username-box{
  display: flex;
  flex-direction: row;
  align-items: center;
}
div.reddit  div.username-box .time{
  font-size: small;
  color: var(--reddit-time-gray);
}
div.reddit div.username-box span{
  display: flex;
  flex-direction: row;
}

/* TWITTER */
div.twitter {
  background: white;
  display: flex;
  flex-direction: row;

  padding: 5px;
  max-width: 500px;

  border: 1px solid grey;
  border-radius: 10px;

  font-family: sans-serif;
}
div.twitter .line {
  border-left: 2px solid lightgrey;
  width:2px;
  height: 80%;
  justify-self: center;    
  margin: 3px;
  align-items: center;
}
div.twitter img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}
div.twitter .follow span{
  color: darkblue;
}
div.twitter .follow{
  margin-bottom: 10px;
}
div.twitter .icon-box{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
div.twitter .icon{
  font-weight: bold;
  font-size: 20px;
  margin: 0px 5px 0px 15px;
}

/* VIDEO */
video#bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%; 
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* SEARCH BAR */
#collapse-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width:100%;
  background-color: #eee;
  color: #444;
  border: none;
  height: 30px;
}
#collapse-button img {
  width: 15px;
  height: 15px;
}
.active#collapse-button:hover{
  background-color: #ccc;
}
#collapse-button:after{
  content: '\02795'; 

}
.active:after{
  content: "\2796";
}
#search-fields{
  padding: 0 18px;
  background-color: #eee;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
#search-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Posts */

div.post {
  margin: 16px auto;
  height: 90vh;
  position: relative;

  scroll-snap-align: center;
}

div.post > div {
  position: absolute;
  top: 50%;
  margin: auto;
  transform: translate(-50%,-50%);
  left: 50%;
  width: 480px;
}

#post-container {
  max-height: 90vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
