<div class="twitter body">
 <div style="display:flex; flex-direction:column; align-items: center;">
   <img src="{{ url_for('static', filename='images/sid.jpg') }}"/>
   <div class="line"></div>
 </div>
 <div>
   <h2>KitKat</h2>
   <p class="follow">@KITKAT • <span>Follow</span></p>
   <p>If the fact is:
      The solar system will end with the massive expansion of the sun:
      
      The twitter post would be:
      
      In five-billion years, as the Sun begins to die, its outer layers of glowing plasma will expand stupendously, engulfing the orbits of Mercury, then Venus, as the charred ember that was once the  oasis of life called Earth vaporizes into the vacuum of space.
   Have a nice day!</p>
   <div style="display:flex; flex-direction:row;">
     <div class="icon-box"><p class="icon" style="margin-left:0px;">&#9825;</p><p>4.25k</p></div>
     <div class="icon-box"><p class="icon" style="margin-top:-3px;">&#128488;</p><p>Reply</p></div>
   </div>
 </div>
</div>
 