<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8" />
 <meta http-equiv="x-ua-compatible" content="ie=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <title>{% block title %}{% endblock %} - TikTokTutor</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 <link 
</head>
<body>
 <section id="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <header>
    <button id="collapse-button"></button>
    <div id="search-fields">
      <form hx-get="/api/more" hx-boost hx-target="div#empty" hx-swap="outerHTML">
        <div style="height:10px"></div>
        <div id="search-container">
          <div style="margin: 0px 5px 0px">
            <label for="topic">Topic</label>
            <input name="topic" id="topic" value="computer science">
          </div>
          <div style="margin: 0px 5px 0px">
            <label for="dev">Dev Mode</label>
            <select name="dev" id="dev">
              <option value="prod">Production</option>
              <option value="cache-only">Use cached</option>
              <option value="no-cache">Ignore cache</option>
            </select>
          </div>
          <input style="margin: 0px 5px 0px" type="submit" value="Search">
        </div>
      <div style="height:10px"></div>
    </form>
  </div>
  <script>
  const collapseBtn = document.querySelector("button#collapse-button");
  const searchField = document.querySelector("div#search-fields");
  collapseBtn.addEventListener("click", () => {
      collapseBtn.classList.toggle("active");
      if (searchField.style.maxHeight) {
          searchField.style.maxHeight = null;
      } else {
          searchField.style.maxHeight = searchField.scrollHeight + "px";
      }
  });
  </script>
</header>

  <div id="empty">
   <p>Search for a topic above!</p>
  </div>
  <!-- <div id="need-more" hx-trigger="revealed" hx-swap="beforebegin" hx-get="/api/more" hx-include="[topic='{{ topic }}']">Loading...</div> -->
  <video id="bgvideo" autoplay muted loop>
   <source src="{{ url_for('static', filename='videos/bg.mp4') }}" type=video/mp4>
   Your browser does not support the video tag.
  </video>
 </section>
 <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
</body>
