 <div class="reddit body">
  <div class="arrow-box">
    <img src="{{ url_for('static', filename='images/web/arrow.png') }}">
    <p>{{ post.upvotes }}</p>
    <img class="inverted" src="{{ url_for('static', filename='images/web/arrow.png') }}">
  </div>
  <div>
    <div class="username-box">
      <img class="profile" src="{{ post.img }}">
      <span>
        <p>{{ post.author }} &#xb7;</p>
        <p class="time">&nbsp;5hr ago.</p>
      </span>
    </div>
    <h2>{{ post.title}}</h2>
    {% for line in post.text.split("\n") %}
      <p style="margin-bottom: 8px;">{{ line }}</p>
    {% endfor %}
  </div>
 </div>
 
